@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
    font-family: 'Plus Jakarta Sans', sans-serif;
}

body {
    background-color: #141414;
}

.todo {
    background-color: lightsalmon;
    padding: 100px;
}


.editForm.hidden {
    display: none;
}

.enter.hidden {
    display: none;
}

.cancel.hidden {
    display: none;  
}